<div id="<%= dom_id reporte_abuso %>">
  <p>
    <strong>Tipo abuso:</strong>
    <%= reporte_abuso.tipo_abuso %>
  </p>

  <p>
    <strong>Descripcion:</strong>
    <%= reporte_abuso.descripcion %>
  </p>

</div>
