<h1>Editing reporte abuso</h1>

<%= render "form", reporte_abuso: @reporte_abuso %>

<br>

<div>
  <%= link_to "Show this reporte abuso", @reporte_abuso %> |
  <%= link_to "Back to reporte abusos", reporte_abusos_path %>
</div>
