<br>
<div class="container-fluid">
  <br>
  <center>
    <h1>Registrar nuevo Incidente</h1>
  </center>
  
  <br>
  <%= render "form", folio_abuso: @folio_abuso %>

  <br>
  <br>

  <div>
    <%= link_to "Regresar a Folios", folio_abusos_path %>
  </div>

</div>
