<div id="<%= dom_id contrato %>">
  <p>
    <strong>Tipo contrato:</strong>
    <%= contrato.tipo_contrato %>
  </p>

  <p>
    <strong>Descripcion:</strong>
    <%= contrato.descripcion %>
  </p>

</div>
